name: safespeed_app
description: Une application pour la recommandation de vitesse et sécurité
publish_to: "none" # empêche la publication

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # Packages stables
  provider: ^6.1.5+1
  syncfusion_flutter_gauges: ^31.2.10

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - assets/images/
